mlenv/
model_training/data_temp/
# ================================
# IDE / Editor files
# ================================
.idea/
*.iml
.mypy_cache/

# ================================
# Python bytecode & caches
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Jupyter notebook checkpoints
# ================================
.ipynb_checkpoints/

# ================================
# Environment files
# ================================
.env
*.env
mamba-lock.yaml

# ================================
# Build / packaging artifacts
# ================================
build/
dist/
*.egg-info/
*.egg

# ================================
# Docker-related files
# ================================
*.tar.gz
*.pid

# ================================
# Data folders
# ================================
data/
data_generation/data/
model_training/data/

!data/.gitkeep
!data_generation/data/.gitkeep
!model_training/data/.gitkeep

# ================================
# Logs, temp & system files
# ================================
*.log
*.out
*.err
.DS_Store
Thumbs.db

# ================================
# Weights & Biases logs & cache
# ================================
wandb/
**/wandb/